.header{
    padding: 15px;
    background-color: rgb(117, 150, 228);
    font-size: 30px;
    color: aliceblue;
}
.add-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(232, 232, 232);
}

.add-container > input{
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
.add-container > input::placeholder{
    font-size: 16px;
    align-items: center;
}

.add-container > button{
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    background-color:rgb(117, 150, 228);
    cursor: pointer;
    color:antiquewhite
}

.add-container > button:hover{
    background-color: rgb(58, 106, 187) ;

}

.todos-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color:rgb(232, 232, 232);
}
.todo-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    gap: 20px;
    align-items: center;
}

.todo-container > button{
    padding: 15px;
    width: 150px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    background-color:rgb(220, 75, 75);
    cursor: pointer;
    color:antiquewhite
}

.todo-container > button:hover{
    background-color:rgb(222, 50, 50);
}

.todos-title{
    font-size: 30px;
    font-weight: 800;
}
.todos-task{
    font-size: 20px;
}

